body {
    background-image: url('../pd-img/wp.jpg');
    background-size: 125%; /* Diminui o zoom (aumente a porcentagem para zoom in ou diminua para zoom out) */
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.center-text {
    text-align: center;
}

.button-link {
    display: inline-block;
    padding: 20px 50px;
    margin: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #da0000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button-link:hover {
    background-color: #740000;
}

.boas-vindas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.836); /* Fundo escuro */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 650px;
    padding: 40px;
    color: white; /* Torna o texto branco */
}

.container-content {
    margin: 5px 0;
}

img {
    border: 5px solid #da0000;
    border-radius: 10px;
    width: 270px;
}

@media (max-width: 1024px) {
    body {
        background-image: url('../pd-img/pizzabg600.jpg');
    }

    .boas-vindas-container {
        width: 350px;
        height: 440px;
    }

    .container-content {
        margin: 2px 0;
    }

    img {
        width: 200px;
    }
}

@media (max-width: 800px) {
    body {
        background-image: url('../pd-img/pizzabg500.jpg');
    }
}